.header-mobile{
    background-color: var(--color-primary);
    position: fixed;
    inset: 0 0 auto 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.mobile-menu__icon{
    width: 35px;
    height: 5px;
    background-color: var(--color-white);    
}

.mobile-menu__icon + .mobile-menu__icon{
    margin-top: 4px;
}

.mobile-logo__link{
    text-decoration: none;
}

.mobile-logo__name{
    color: var(--color-white);
    font-size: 2.2rem;
}

.mobile-cart__link i{
    color: var(--color-white);
    font-size: 2.8rem;
}

.mobile-search{
    position: relative;
}

.mobile-search__button{
    position: absolute;
    top: -1px;
    right: 0;
}

.header-pc{
    display: none;
}

.mobile-nav__title{
    text-transform: uppercase;
    padding: 10px;
    font-size: 1.8rem;
}

.mobile-nav__list{
    list-style-type: none;
}

.mobile-nav__link{
    display: inline-block;
    color: var(--color-black);
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 500;
    padding: 15px 10px;
}

.mobile-nav__item + .mobile-nav__item{
    border-top: solid 1px rgba(0, 0, 0, 0.1)
}

.slider{
    margin-top: calc(93px + 10px);
    display: flex;
    overflow: hidden;
}

.slider-wrapper{
    flex: 0 0 100%;
    transition: 0.3s linear;
    cursor: grab;
}

.slider img{
    max-width: 100%;
}

.section{
    background-color: var(--color-white);
    padding: 10px;
    margin-top: 10px;
}

.section-title{
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Brand Section */
.brand-link{
    display: flex;
    padding: 4px 0;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 4px 0;
    height: 33px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-black);
    line-height: 0;
}

.brand-all{
    font-size: 1.2rem;
}

.brand-img{
    max-width: 100%;
}

/* Service List*/
.service-list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 1.1rem;
    justify-content: space-between;
}

.service-list__item{
    text-align: center;
    min-width: 110px;
    padding: 6px 4px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.service-list__item:nth-child(1), .service-list__item:nth-child(2), .service-list__item:nth-child(3){
    margin-bottom: 10px;
}

.service-list__item a{
    color: var(--color-black);
}

/* Product */
.product-item{
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
}

.product-image{
    position: relative;
}

.time-service{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 0;
    bottom: 10px;
}

.time-progess, .time-guarantee{
    padding: 4px;
    border-radius: 4px;
}

.time-progess{
    background-color: rgba(228, 27, 30, 0.95);
    color: var(--color-white);
}

.time-guarantee{
    background-color: rgb(248, 81, 84, 0.95);
    color: var(--color-white);
    margin-top: 4px;
}

.product-item__name{
    font-size: 1.5rem;
    color: var(--color-black);
    font-weight: 500;
}

.product-item__price{
    font-size: 1.5rem;
    margin-top: 4px;
    color: var(--color-primary);
    font-weight: 500;
}